* {
  box-sizing: border-box;
}

div nav {
  background-color: rgb(204, 235, 204);
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
}

nav ul li {
  list-style: none;
  display: inline-flex;
  line-height: 60px;

}

nav ul li a {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: rgba(9, 65, 27, 0.5);
  text-decoration: none;
  outline: 0;
  border: 0;
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

/* .nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
} */

.home-main {
  text-align: center;
}

main {
  height: 100vh;
  margin-top: -20px;
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("/images/greenveg.png") center;
  background-size: 120%, 100%;
}


.profile-box {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 100px;

}

.chat-horizontal {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 100px;
}

/* Footer styles */
footer {
  height: 65px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(240, 231, 220);
}

.home-main {
    color: saddlebrown;
    text-decoration: none;
    font-size: 1.6em;
}

.row {
    color: brown;
}

footer > a {
  color: saddlebrown;
  text-decoration: none;
  font-size: 1.6em;
}

