<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Lettuce Chat</title>
</head>
<body>
<h3>My Chats</h3>
<div th:each="chat : ${chats}">
  <ul style="list-style-type:none">
    <li>Subject: <span th:text="${chat.subject}"></span></li>

    <li>
     <span th:each="participant : ${chat.participants}">
       <a th:if="${participant.username != user.name}" th:href="${'/chat/' + chat.id}"
          th:text="${participant.username}"></a></span>
    </li>

  </ul>


</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>