<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lettuce Chat</title>
</head>
  <body>

    <form th:method="POST" action="/profile/edit">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="viewedUserId" th:value="${viewedUser.id}">
      <label for="username">Username</label>
      <input id="username" name="username">
      <label for="firstName">firstName</label>
      <input id="firstName" name="firstName">
      <label for="lastName">lastName</label>
      <input id="lastName" name="lastName">
      <label for="password">Password</label>
      <input id="password" name="password">
      <label for="imgUrl">Image URL</label>
      <input id="imgUrl" type="url" name="imgUrl">
      <label for="bio">Bio:</label>
      <input type="text" name="bio" id="bio">
      <label for="dietaryRestriction">Dietary Restriction</label>
      <select name="dietaryRestriction" id="dietaryRestriction">
        <option value="None">None</option>
        <option value="None">Gluten-Free</option>
        <option value="None">Vegetarian</option>
      </select>
      <input type="submit" value="edit profile"/>
    </form>

  </body>
</html>