<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lettuce Chat</title>
</head>
<body th:style="'background:url(/images/background.jpg)100px;'">

    <div th:replace="fragments/nav :: nav"></div>
    <div th:fragment="login" class="container">
      <h1>Log in:</h1>
      <form method="POST" action="/login">
        <div class="form-group">
          <label for="username">Username: </label>
          <input id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input id="password" name="password" type="password">
        </div>
        <input type="submit">
      </form>
    </div>
<!--    <div th:replace="fragments/footer :: footer"></div>-->
  </body>
</html>