<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Lettuce Chat</title>
</head>
  <body>
    <div th:replace="fragments/layout :: layout"></div>
    <div th:replace="fragments/nav :: nav"></div>
    <main>
      <div class="container profile-box">
        <div th:replace="fragments/user :: profile(userToProfile=${matchedUser})"></div>
      </div>

      <form method="POST" th:action="${'/chat/create/' + matchedUser.id}">
        <input type="submit" value="Create Chat">
      </form>
      <a href="/users">Next Match</a>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>

  </body>
</html>