<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The IncrEDIBLLES</title>
</head>
<body>
  <h1>The IncrEDIBLLES</h1>

  <p>About Us</p>

  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <br><a href="https://github.com/nhu">Nhu Trinh </a></br><br>


  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <br><a href="https://github.com/padma">Padma Ganapathi</a></br><br>


  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <br><a href="https://github.com/rttgg">Roman Gebrehiwot</a></br><br>


  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <br><a href="https://github.com/joachen">Joachen Busch</a></br><br>

</body>
</html>