<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About the Team</title>
</head>
<body>
  <h1>Team page here</h1>

  <p>Stuff about the team</p>

  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <br><li>Nhu Trinh</li></br>

  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <br><li>Padma Ganapathi</li></br>

  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <br><li>Roman Gebrehiwot</li></br>

  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
  <li>Joachen Busch</li>

</body>
</html>